.nav-link {
  color: #9c9c9c;
  font-size: 1rem;
  transition: color 0.3s ease, font-weight 0.3s ease;
  font-family: sans-serif;
}

.navbar-nav {
  flex-direction: column;
  justify-content: right;
  width: 100%;
  border-radius: 30px;
}

.nav-link-home {
  font-size: 25px;
  font-weight: 500;
}

.nav-link-home:hover {
  color: #08090b;
  color: orangered;
}

.nav-link-about {
  font-size: 25px;
  font-weight: 500;
}

.nav-link-about:hover {
  color: #343a40;
  color: orangered;
}

.nav-link-contact {
  font-size: 25px;
  margin-right: 50px;
  font-weight: 500;
}

.nav-link-contact:hover {
  color: orangered;
}
